name: Build macOS

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-latest
    timeout-minutes: 60
    defaults:
      run:
        working-directory: simple_live_app
    
    steps:
      - uses: actions/checkout@v4
        
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.5'
          channel: 'stable'
          cache: true
          
      - run: flutter config --enable-macos-desktop
        
      - run: |
          flutter clean
          flutter pub add intl:^0.20.2
          flutter pub get
        
      - run: flutter build macos --release
        
      - name: 打包
        run: |
          cd build/macos/Build/Products/Release
          zip -r ../../../../../dart-simple-live-macos.zip *.app
        
      - uses: actions/upload-artifact@v4
        with:
          name: macos-universal
          path: simple_live_app/dart-simple-live-macos.zip
