name: Build Windows

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    timeout-minutes: 60
    defaults:
      run:
        working-directory: simple_live_app
    
    steps:
      - uses: actions/checkout@v4
        
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.5'
          channel: 'stable'
          cache: true
          
      - run: flutter config --enable-windows-desktop
        
      - run: |
          flutter clean
          flutter pub add intl:^0.20.2
          flutter pub get
        
      - run: flutter build windows --release
        
      - name: 打包
        shell: pwsh
        run: |
          cd build/windows/x64/runner/Release
          Compress-Archive -Path * -DestinationPath ../../../../../dart-simple-live-windows.zip -Force
        
      - uses: actions/upload-artifact@v4
        with:
          name: windows-x64
          path: simple_live_app/dart-simple-live-windows.zip
